* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 840px;
  margin: auto;
}
.header {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.listNumber {
  color: red;
  font-weight: bold;
  text-align: justify;
}
.listNumber > .listItem > span {
  color: black;
  font-weight: normal;
}
.listItem {
  padding: 10px 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clientLogo {
  width: 24.5%;
  border: 1px solid black;
  margin: 2px;
}
#mainHeader {
  background-color: green;
  color: white;
  text-align: center;
  padding: 5px 0;
}
#mainHeader h1 {
  font-size: 35px;
}
#mainHeader p {
  font-size: 21px;
  margin: 0.3em;
}
#contacts {
  background-color: red;
  color: white;
  text-align: center;
  padding-bottom: 15px;
}
#aboutUs p {
  padding-bottom: 10px;
  text-align: justify;
}
#clients {
  background-color: orange;
  color: white;
  padding-bottom: 20px;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
#mainFooter {
    background-color: brown;
    color: white;
    text-align: center;
    font-size: small;
    padding: 200px 0 5px 0;
}
.clientLogo img {
    width: 100%;
}