* {
  padding: 0;
  margin: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: url(../img/bg.jpg);
  color: white;
  width: 95%;
  margin: auto;
  text-align: center;
  background-size: cover;
}
.header {
  margin: 311px 0 76px;
}
.header h2 {
  font-size: 39px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  /* margin-bottom: 34px; */
}
.header h1 {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.main {
  font-size: 0;
}
.inline {
  display: inline-block;
  margin: 10px 27px;
}
select,
input,
button {
  width: 348px;
  height: 69px;
  background: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  padding-left: 42px;
  border: none;
}
option {
  color: black;
}
button {
  background-color: rgb(57, 132, 243);
  font-size: 23px;
  padding: 0;
}
select {
  appearance: none;
  background-image: url(../img/arrows.png);
  background-repeat: no-repeat;
  background-position: 292px;
}
input {
  background-image: url(../img/calendar.png);
  background-repeat: no-repeat;
  background-position: 284px;
}
.unstyled {
  -webkit-appearance: none;
}
.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
