@font-face {
  font-family: "Exo";
  src: local("Exo Medium"), local("Exo-Medium"),
    url("../fonts/exomedium.woff2") format("woff2"),
    url("../fonts/exomedium.woff") format("woff"),
    url("../fonts/exomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
