@import "fonts";
@import "null-1";

body {
  font-family: "Exo", sans-serif;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.features {
  background-color: #f6f5f3;
  &__wrapper {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 128px 0px;
    overflow: hidden;
    @media (max-width: 540px) {
      padding: 180px 0px 100px;
    }
  }
  &__img {
    position: absolute;
  }
  &__body {
    position: relative;
    z-index: 1;
  }
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
    font-weight: 500;
    color: #ff6d6d;
    letter-spacing: 3.2px;
  }
  &__headline {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    color: #282828;
    letter-spacing: 1.6px;
    margin-bottom: 85px;
    @media (max-height: 540px), (max-width: 360px) {
      margin-bottom: 30px;
      font-size: 30px;
      line-height: 40px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    @media (max-width: 540px) {
      flex-direction: column;
    }
  }
  &__column {
    flex: 0 0 31.666%;
    padding: 0px 8px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon {
    margin-bottom: 22px;
  }
  &__subhead {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.88px;
    color: #282828;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.64px;
    // color: #282828;
    color: #737372;
    font-weight: 500;
    text-align: center;
    p {
      margin-bottom: 10px;
      &:last-child {
        margin: 0;
      }
    }
  }
}
.pen-holder {
  top: 0;
  left: 6.7%;
  @media (max-width: 1024px) {
    left: 0;
  }
}
.earphones {
  top: 0;
  right: 9.7%;
  @media (max-width: 1024px) {
    right: 0;
  }
  @media (max-width: 540px) {
    z-index: -1;
  }
}
.cup {
  bottom: 0;
  right: 3.47%;
}
