* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  max-width: 1920px;
  font-family: "Arial";
  margin: auto;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.ib {
  display: inline-block;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
.h {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 2.1px;
}

/* Header */
.logo a {
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 97.08px;
  text-align: right;
  letter-spacing: 1.5px;
  line-height: normal;
  text-decoration: none;
}
.logo span {
  display: block;
  width: 180px;
  height: 13px;
  font-size: 13px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 1.3px;
}
.nav-item {
  margin-left: 38px;
  padding-top: 17px;
}
.nav-item a {
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  text-decoration: none;
  position: relative;
}
.nav-item a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  border-radius: 2px;
  background-color: #f1cdb3;
  transition: 0.2s;
}
.nav-item a:hover:after,
.nav-item.active a:after {
  width: 100%;
}

/* Main Header*/
.header-main .logo a {
  color: #f1cdb3;
}
.header-main .nav a {
  color: #cdcdcd;
}
.header-main span {
  color: #ffffff;
}
/* Header */

/* Banner */
.banner {
  height: 925px;
  padding-top: 51px;
  background: url(../img/main-header-bg.jpg) no-repeat;
  background-size: contain;
}
.banner-block {
  margin-top: 250px;
}
.banner-block h1 {
  color: #ffffff;
  font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 2.64px;
}
.banner-block span {
  display: block;
}
.banner-block p {
  color: #cdcdcd;
  font-family: "Arial MT";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  width: 451px;
  margin: 27px 0 40px;
}
.banner-block-button {
  width: 205px;
  height: 52px;
  border-radius: 26px;
  background-color: #f1cdb3;
}
.banner-block-button:hover {
  background-color: #fddcc4;
}
.banner-block-button a {
  text-decoration: none;
  color: #292929;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 1.02px;
  padding: 17px 43px;
}
/* Banner */

/* About */
.about {
  margin: 89px auto;
}
.about-img {
  width: 50%;
  text-align: right;
  padding-right: 118px;
}
.about-description {
  padding-top: 20px;
  width: 50%;
  text-align: left;
  color: #4c4c4c;
}
.about-description span {
  display: block;
  padding-bottom: 10px;
}
.about-description p {
  max-width: 414px;
  color: #4c4c4c;
  font-size: 15px;
  font-weight: 400;
  font-family: "Arial MT";
  line-height: 24px;
  margin: 19px 0;
}
/* About */








/* CATEGORIES */
/* Categories Header*/
.header-categories-bg {
  height: 112px;
  background-color: #fafafa;
  padding-top: 28px;
}
.header-categories a {
  color: #545454;
}

/* Categories Main */
.categories-main-bg {
  background-color: #f6f6f6;
}
.categories-main {
  max-width: 1200px;
  margin: auto;
  padding-top: 68px;
  text-align: center;
}
.categories-h {
  padding-bottom: 62px;
  color: #545454;
}
.categories-h span {
  display: block;
}

/*Categories Gallery */
.categories-gallery {
  font-size: 0;
}
.gallery-item {
  width: 270px;
  height: 424px;
  border-radius: 9px;
  background-color: #fafafa;
  overflow: hidden;
  margin: 16px 15px;
}
.gallery-item:hover {
  box-shadow: 0 2px 30px 5px rgba(13, 13, 13, 0.04);
}
.gallery-description p {
  color: #545454;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  letter-spacing: 1.2px;
  margin: 15px 0 9px;
}
.gallery-button {
  width: 188px;
  height: 52px;
  border-radius: 26px;
  border: 2px solid #f1cdb3;
}
.gallery-button:hover {
  border: 2px solid #f1cdb3;
  background-color: #f1cdb3;
}
.gallery-button a {
  text-decoration: none;
  color: #292929;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  letter-spacing: 1.02px;
  padding: 15px 42px;
}
/*Categories Gallery */

/* Page Numbers */
.page-numbers {

}
.page-numbers-item.active {

}
.page-numbers-item. {

}
.page-numbers-bullet {

}


/* CATEGORIES */


