* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: auto;
  font-family: Arial, sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
.container {
  max-width: 1220px;
  margin: auto;
  padding: 0 25px;
}
.ib {
  display: inline-block;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
.h {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 2.1px;
  color: #545454;
}
.h span {
  display: block;
}

/* Header */
.logo a {
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 97.08px;
  text-align: right;
  letter-spacing: 1.5px;
  line-height: normal;
  text-decoration: none;
}
.logo span {
  display: block;
  width: 180px;
  height: 13px;
  font-size: 13px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 1.3px;
}
.nav-item {
  margin-left: 38px;
  padding-top: 17px;
}
.nav-item a {
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  text-decoration: none;
  position: relative;
}
.nav-item a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  border-radius: 2px;
  background-color: #f1cdb3;
  transition: 0.1s;
}
.nav-item a:hover:after,
.nav-item.active a:after {
  width: 100%;
}

/* Main Header*/
.header-main .logo a {
  color: #f1cdb3;
}
.header-main .nav a {
  color: #cdcdcd;
}
.header-main span {
  color: #ffffff;
}
/* Header */

/* Banner */
.banner {
  height: 925px;
  padding-top: 51px;
  background: url(../img/main-header-bg.jpg) 50% no-repeat;
  background-size: cover;
}
.banner-block {
  margin-top: 250px;
}
.banner-block h1 {
  color: #ffffff;
  font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 2.64px;
}
.banner-block span {
  display: block;
}
.banner-block p {
  color: #cdcdcd;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  max-width: 451px;
  margin: 27px 0 40px;
}
.banner-block-button {
  user-select: none;
  width: 205px;
  height: 52px;
  border-radius: 26px;
  background-color: #f1cdb3;
  box-shadow: 0px 5px 0px #6b5748;
  position: relative;
  top: 0;
}
.banner-block-button:hover {
  background-color: #fddcc4;
  box-shadow: 0px 5px 0px #857163;
}
.banner-block-button:active {
  top: 2px;
  box-shadow: 0px 3px 0px #857163;
}
.banner-block-button a {
  text-decoration: none;
  color: #292929;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 1.02px;
  padding: 17px 43px;
}
/* Banner */

/* About */
.about {
  margin: 89px auto;
}

.about-img {
  width: 50%;
  text-align: right;
  padding-right: 118px;
}
@media (max-width: 800px) {
  .about-img {
    display: none;
  }
}

@media (max-width: 800px) {
  .about-description.fr {
    width: 100%;
    float: none;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .about-description.fr > p {
    max-width: 100%;
  }
}

.about-description {
  padding-top: 20px;
  width: 50%;
  text-align: left;
  color: #4c4c4c;
}
.about-description span {
  padding-bottom: 10px;
}
.about-description p {
  max-width: 414px;
  color: #4c4c4c;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 19px 0;
}
/* About */

/* Pets */
.pets-bg {
  background-color: #f6f6f6;
}
.pets {
  text-align: center;
  padding-top: 78px;
  padding-bottom: 68px;
}
.pets-slider {
  margin-top: 40px;
  position: relative;
  font-size: 0;
}
.pets-slider-main {
  text-align: center;
}
.pets-slider-left {
  position: absolute;
  left: 0;
  top: 45%;
  user-select: none;
}
.pets-slider-right {
  position: absolute;
  right: 0;
  top: 45%;
  user-select: none;
}
.pets-slider-left img,
.pets-slider-right img {
  padding: 20px 10px;
}
.pets-slider-main .gallery-item {
  margin: 16px 25px;
}
@media (max-width: 1080px) {
  .pets-slider-main > .gallery-item:last-child {
    display: none;
  }
}
@media (max-width: 760px) {
  .pets-slider-main > .gallery-item:nth-child(2) {
    display: none;
  }
}
.pets-button:hover {
  background-color: #fddcc4;
}
.pets-button {
  user-select: none;
  width: 267px;
  height: 52px;
  border-radius: 26px;
  background-color: #f1cdb3;
  margin: 40px 63px 0 63px;
}
.pets-button a {
  text-decoration: none;
  color: #292929;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 57px;
  text-align: right;
  letter-spacing: 1.02px;
  padding: 15px 45px;
}
/* Pets */

/* Help Our Shelter */
.help {
  max-width: 1270px;
  margin: auto;
  padding: 70px 0 75px;
  text-align: center;
}
.help-gallery {
  padding-top: 75px;
}
.help-gallery-item {
  width: 170px;
  height: 124px;
  text-align: center;
  margin: 20px 40px;
  border: transparent 1px solid;
}
.help-gallery-item a {
  text-decoration: none;
  color: #545454;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1.2px;
}
.help-item-img {
  margin: 0 30px;
  padding-bottom: 28px;
}
/* Help Our Shelter */

/* Donations */

.donation-bg {
  background-color: #f6f6f6;
}
.donation {
  padding: 71px 0 84px;
}
.donation-img {
  width: 50%;
  padding: 15px 63px 0 10px;
}
.donation-description {
  width: 50%;
  text-align: left;
}
.donation-account {
  margin-top: 24px;
}
.donation-account-bank {
  color: #545454;
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.9px;
}
.donation-account-number {
  width: 319px;
  height: 47px;
  border-radius: 9px;
  background-color: #f1cdb3;
  margin: 13px 0 30px;
}
.donation-account-number img {
  padding-top: 11px;
  padding-left: 14px;
}
.donation-account-number a {
  text-decoration: none;
  color: #292929;
  font-family: "Times New Roman PSMT";
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
  text-align: right;
  letter-spacing: 1.2px;
  padding: 16px 10px;
}
.donation-account-legal {
  color: #b2b2b2;
  /* font-family: "Arial - Italic MT"; */
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  max-width: 351px;
}

@media (max-width: 800px) {
  .donation-img {
    display: none;
  }
}

@media (max-width: 800px) {
  .donation-description.fr {
    width: 90%;
    margin: auto;
    float: none;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .donation-account-bank {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .donation-account-number {
    margin: 13px auto 30px;
  }
}

@media (max-width: 800px) {
  .donation-account-legal {
    max-width: 100%;
    text-align: center;
  }
}
/* Donations */

/* Footer */

.footer-bg {
  height: 338px;
  background: url(../img/footer-bg.jpg) 60% no-repeat;
}
.footer {
  padding-top: 73px;
}
.footer h3 {
  color: #ffffff;
}
.footer a {
  text-decoration: none;
  color: #f1cdb3;
  font-family: "Times New Roman PSMT";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.2px;
}
.location-1 span {
  display: block;
  margin: -15px 0 0 50px;
}
.footer-left {
  margin-right: 174px;
}
.email {
  margin: 40px 0 34px;
}
.tel a:first-child,
.email a:first-child {
  padding-right: 22px;
}
.location-1 {
  margin: 34px 0 23px;
}
.location-1 a:first-child,
.location-2 a:first-child {
  padding-right: 20px;
}
.footer-hidden {
  display: none;
}
@media (max-width: 800px) {
  .footer-left.fl,
  .footer-right.fl {
    float: none;
  }
}
@media (max-width: 800px) {
  .footer {
    padding-top: 10px;
  }
}
@media (max-width: 800px) {
  .footer-h {
    display: none;
  }
}
@media (max-width: 800px) {
  .footer-hidden {
    display: block;
  }
}

/* Footer */

/* CATEGORIES */
/* Categories Header*/
.header-categories-bg {
  height: 112px;
  background-color: #fafafa;
  padding-top: 28px;
}
.header-categories a {
  color: #545454;
}

/* Categories Main */
.categories-main-bg {
  background-color: #f6f6f6;
}
.categories-main {
  max-width: 1200px;
  margin: auto;
  padding: 68px 0 64px;
  text-align: center;
}
.categories-h {
  padding-bottom: 62px;
  color: #545454;
}

/*Categories Gallery */
.categories-gallery {
  font-size: 0;
}
.gallery-item {
  width: 270px;
  height: 424px;
  border-radius: 9px;
  background-color: #fafafa;
  overflow: hidden;
  margin: 16px 15px;
}
.gallery-item:hover {
  box-shadow: 0 2px 30px 5px rgba(13, 13, 13, 0.04);
}
.gallery-description p {
  color: #545454;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  letter-spacing: 1.2px;
  margin: 15px 0 9px;
}
.gallery-button {
  user-select: none;
  width: 188px;
  height: 52px;
  border-radius: 26px;
  padding: 14px 0;
  border: 2px solid #f1cdb3;
  color: #292929;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.02px;
  cursor: pointer;
}
.gallery-button:hover {
  border: 2px solid #f1cdb3;
  background-color: #f1cdb3;
}

/*Categories Gallery */

/* Page Numbers */
.page-numbers {
  margin-top: 45px;
  font-size: 0;
  width: 291px;
  height: 52px;
}
.circle {
  width: 50px;
  height: 50px;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
}
.page-numbers-item {
  user-select: none;
  margin: 0 7px;
  vertical-align: middle;
}
.page-numbers-item a {
  text-decoration: none;
  color: #292929;
  font-family: "Times New Roman PSMT";
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
  text-align: right;
  letter-spacing: 1.2px;
  padding: 12px;
}
.circle:hover,
.page-numbers-item.active {
  background-color: #f1cdb3;
}
.page-numbers-bullet-block {
  margin: 2px;
  vertical-align: middle;
}
.page-numbers-bullet {
  user-select: none;
  margin: 2px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}

.modal-inner {
  text-align: right;
  width: 1090px;
  height: 590px;
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.modal-close {
  user-select: none;
  background-color: white;
  cursor: pointer;
}
.modal-close img {
  padding: 15px 15px;
}
.modal-main {
  width: 970px;
  height: 470px;
  box-shadow: 0 2px 30px 5px rgba(13, 13, 13, 0.1);
  border-radius: 9px;
  background-color: #fafafa;
  margin: auto;
  overflow: hidden;
}
.modal-main-img {
  width: 50%;
  height: 100%;
}
.modal-main-img img {
  width: 100%;
}
.modal-main-description {
  width: 50%;
  text-align: left;
  padding: 64px 44px 69px 56px;
}
.modal-main-description h3 {
  color: #545454;
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 2.1px;
  line-height: 45px;
}
.description-breed {
  color: #545454;
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.2px;
  line-height: 34px;
}
.description-info {
  color: #4c4c4c;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 25px 0;
}
.description-list {
  list-style: none;
}
.description-list li {
  padding-left: 20px;
  background: url(../img/bullet.png) 0 50% no-repeat;
  color: #545454;
  font-size: 15px;
  font-style: normal;
  letter-spacing: 0.9px;
}
.description-list > li > span {
  color: #545454;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 1.02px;
}
/* CATEGORIES */

/* Fonts:
font-family: 'ARIALMT';
font-family: 'arialmtitalic';

*/
