@font-face {
    font-family: 'ARIALMT';
    src: url('fonts/ARIALMT.eot');
    src: url('fonts/ARIALMT.eot') format('embedded-opentype'),
         url('fonts/ARIALMT.woff2') format('woff2'),
         url('fonts/ARIALMT.woff') format('woff'),
         url('fonts/ARIALMT.ttf') format('truetype'),
         url('fonts/ARIALMT.svg#ARIALMT') format('svg');
}

@font-face {
    font-family: 'arialmtitalic';
    src: url('fonts/arialmtitalic.eot');
    src: url('fonts/arialmtitalic.eot') format('embedded-opentype'),
         url('fonts/arialmtitalic.woff2') format('woff2'),
         url('fonts/arialmtitalic.woff') format('woff'),
         url('fonts/arialmtitalic.ttf') format('truetype'),
         url('fonts/arialmtitalic.svg#arialmtitalic') format('svg');
}

